<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is the Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi possimus
      nesciunt obcaecati! Laborum dolore odit neque, dignissimos quidem minus
      molestiae! Excepturi itaque, rem quos veritatis vero saepe laboriosam
      molestias ad!
    </p>
    <p><%= "This is JS in EJS: ".toLowerCase() + (1+2)%></p>
    <button>Click Me</button>
  </body>
</html>
