<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Roll Dice</title>
  </head>
  <body>
    <h1>Roll A Dice</h1>
    <p>Roll a Dice, and test your luck:</p>
    <p><%= "Your dice number is: " + (diceVal)%></p>
    <button>Click Me</button>
  </body>
</html>
